<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:c="http://www.springframework.org/schema/c" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd"> 
        
    <!-- bean definitions here -->
    
    <!-- bean declaration using c:schema -->
    <!-- Dependency Bean -->
    <bean class="com.example.Spring_core.dependency_injection.constructor_injection.Certification" 
     name="certification1"
     c:name="Java"/>
    
    <!-- Dependent Bean -->
    <bean class="com.example.Spring_core.dependency_injection.constructor_injection.Person" 
     name="person1">
    
    	<!-- primitive data type injection -->
	    <constructor-arg>
	    	<value>Yuvraj</value>
	    </constructor-arg>
	    
	    <!-- primitive data type injection -->
	   <constructor-arg value="1"/>
	   
	   <!-- collection injection -->
	   <constructor-arg>
	   	<set>
	   		<value>1234567890</value>
	   		<value>9876543210</value>
	   	</set>
	   </constructor-arg>
	   
	   <!-- reference injection -->
	   <constructor-arg ref="certification1"/>
    </bean>

</beans>